body{
    color:rgb(46, 46, 141);
    text-align: center;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    background-color: bisque;
    padding: 5%;
    justify-content:left;
}
h1{
    font-size:xx-large;
    font: xx-large bolder;
    color:blue ;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight:bolder;
    text-decoration:aqua;
}
input{
    margin: 15px;
}
form{
    margin:10px auto auto 580px;

    text-align: left;
}
#survey-form{
    
}